<!DOCTYPE html>
<html>

<head>
    <title>Time Converter</title>
    <link rel="stylesheet" type="text/css" href="/Users/shreyasat/Desktop/untitled folder/project 2( cool_name)/static/style.css">
</head>

<body>
    <div class="container">
        <h1>Enter your pet and city name</h1>
        <form action="generate_cool_name.py" method="post">
            <label for="pet_name">Enter your pet name</label>
            <input type="text" id="pet_name" name="pet_name" required>
            <label for="city_name">Enter your city name</label>
            <input type="text" id="city_name" name="city_name" required>
            <button type="submit">Convert</button>
        </form>
    </div>
</body>

</html>