<!DOCTYPE html>
<html>

<head>
    <title>Time Converter</title>
    <link rel="stylesheet" type="text/css" href="/Users/shreyasat/Desktop/untitled folder/project 1/static/style.css">
</head>

<body>
    <div class="container">
        <h1>Time Converter</h1>
        <form action="convert_time.py" method="post">
            <label for="time">Enter time (24-hour format):</label>
            <input type="text" id="time" name="time" required>
            <button type="submit">Convert</button>
        </form>
    </div>
</body>

</html>